.univerasl_btn {
    border-radius: 2px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #8593d8cb;
    cursor: pointer;
    transition: border-color 0.25s;
}
.button_container {
    padding: 2px 0 0 2px;
}
