button.squaer {
    width: 45px;
    height: 45px;
    font-weight: 500;
    background-color: rgba(76, 77, 92, 0.438);
    font-size: 18px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.562);
}
