.block_board {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    border-collapse: collapse; /* Убираем двойные границы между ячейками */
    background-color: #e9f5f793;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Легкая тень */
    border-radius: 5px; /* Слегка скругляем таблицу */
    overflow: hidden; /* Важно, чтобы тень и скругление работали корректно */
}
td {
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.board_row {
    display: flex;
    justify-content: center;
    align-items: center;
}
