.block_board {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
table {
    border-collapse: collapse; /* Убираем двойные границы между ячейками */
    background-color: #e9f5f793;
    padding: 0;
    margin: 0;
}
tbody {
    padding: 0;
    margin: 0;
}
tr {
    height: 45px;
    margin: 0;
}
td {
    border: 1px solid #ddd;
    padding: 0;
    margin: 0;
    height: inherit;
}

.board_row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 0;
}
