.block_square {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
}
.square {
    width: 50%;
    height: 200px;
    background-color: rgb(96, 192, 96);
    display: flex;
    align-items: center;
    justify-content: center;
}
